body{
	margin: 0px;
	font-family: tahoma;
	font-size: 12px;
	cursor: default;
}

.loading{
	cursor: progress;
}

ul{
	padding: 0px;
	margin: 0px;
}

ul#file_panel{
	overflow: auto;
	margin: auto;
	min-height: 100%;
}
ul#sort_panel{
	overflow: none;
	background: #ddd;
}
ul#sort_panel > li{
	border-right: 1px solid #ccc;
}
ul#sort_panel > li.asc{
	background-image: url('/utils/images/sort_up.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
ul#sort_panel > li.desc{
	background-image: url('/utils/images/sort_down.png');
	background-position: right top;
	background-repeat: no-repeat;
}
ul#files_panel[data-view=icon] > ul#sort_panel,
ul#files_panel[data-view=list] > ul#sort_panel{
	display: none;
}
ul#files_panel[data-view=detail] > ul#sort_panel{
	display: block;
}
ul#files_panel[data-view=list] > li{
	list-style-position: inside;
	border-right: 1px solid transparent;
}
ul#files_panel[data-view=icon] > li{
	width: 120px;
	height: 140px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px;
}
ul#sort_panel > li,
ul#files_panel[data-view=detail] > li > ul > li,
ul#files_panel[data-view=list] > li > ul > li,
ul#files_panel[data-view=icon] > li > ul > li{
	display: inline-block;
	padding: 2px 10px;
	white-space: nowrap;
	overflow: hidden;
}
ul#files_panel[data-view=icon] > li > ul{
	padding: 0px;
}
ul#files_panel > li:hover{
	background: #cccccc;
}
ul#files_panel > li.selected{
	background: #abf;
}
ul#sort_panel, ul#files_panel > li > ul{
	white-space: nowrap;
}

/* detail view */
ul#files_panel > li{
	display: inline-block;
	border: 1px solid transparent;
}
ul#files_panel[data-view=list] > li{
	padding: 2px;
}
ul#files_panel[data-view=detail] > li{
	display: block;
	padding: 2px;
}
ul#files_panel[data-view=detail] > li.directory > ul > li.name,
ul#files_panel[data-view=list] > li.directory > ul > li.name{
	background-image: url('/utils/images/folder_16x16.png');
	background-repeat: no-repeat;
}
ul#files_panel[data-view=detail] > li.file > ul > li.name,
ul#files_panel[data-view=list] > li.file > ul > li.name{
	background-image: url('/utils/images/file_16x16.png');
	background-repeat: no-repeat;
}
ul#files_panel[data-view=icon] > li.directory > ul > li.name{
	background-image: url('/utils/images/folder_96x96.png');
	background-repeat: no-repeat;
	background-position: center top;
}
ul#files_panel[data-view=icon] > li.file > ul > li.name{
	background-image: url('/utils/images/file_96x96.png');
	background-repeat: no-repeat;
	background-position: center top;
}
ul#files_panel[data-view=icon] > li > ul > li.name{
	margin: 10px auto !important;
	width: 96px;
	text-align: center;
	overflow: hidden;
	padding-top: 100px;
}

/*customized*/
ul#files_panel[data-view=detail] li.name,
ul#files_panel[data-view=list] li.name
{ width: 200px; padding-left: 20px !important;}
ul#files_panel > li > ul > li.mode{
	font-family: courier new;
}
ul#files_panel > li > ul > li.size{
	text-align: right;
}
li.mode{ width: 80px; }
li.size{ width: 50px; }
li.size{ width: 50px; }
li.atime{ width: 200px; }
li.mtime{ width: 200px; }
li.ctime{ width: 200px; }


/* list view */
ul#files_panel[data-view=list] > li > ul > li,
ul#files_panel[data-view=icon] > li > ul > li{
	display: none;
}
ul#files_panel[data-view=list] > li > ul > li.name,
ul#files_panel[data-view=icon] > li > ul > li.name{
	display: inline-block;
}


ul#control_panel{
	background: #ccc;
}
ul#control_panel li{
	display: inline-block;
	margin: 0px 0px 0px 2px;
}
ul#control_panel button{
	border-width: 1px;
	width: 18px;
	height: 18px;
	background-image: url('/utils/images/ui-icons_228ef1_256x240.png');
}
ul#control_panel button[disabled]{
	opacity: 0.5;
	border-style: solid;
	border-color: #ccc;
}
#prev{ background-position: -96px -16px}
#next{ background-position: -32px -16px}
[rel=detail]{ background-position: -48px -224px}
[rel=list]{ background-position: -16px -224px}
[rel=icon]{ background-position: -16px -224px}
#path_button{ background-position: -64px -144px}
#path{
	width: auto;
	margin: auto;
}

ul#context_menu{
	display: inline-block;
	background: #eee;
	position: absolute;
	padding: 2px;
	border: 1px solid #aaa;
}
ul#context_menu > li{
	display: block;
	padding: 5px 30px 5px 10px;
	border: 1px solid transparent;
}
ul#context_menu > li.disabled{
	color: #aaa;
}
ul#context_menu> li:hover{
	background: #ddf;
	border-color: #aac;
	border-radius: 4px;
}
ul#context_menu > li.separator, ul#context_menu> li.separator:hover{
	background: transparent;
	border: 1px inset #fff;
	border-radius: 0px;
	height: 0px;
	padding: 0px;
	margin: 2px 0px;
}


.hidden{
	display: none !important;
}
.last{
	clear: right;
}

#dialogs{
	display: none;
}