body, table{
  font-family: arial;
  font-size: 12px;
}
#toolbar a{
  border: 1px solid transparent;
  text-decoration: none;
  display: inline-block;
  height: 24px;
  width: 24px;
}
#toolbar a:hover{
  border: 1px outset #ccc;
}
/*common*/
#files-list .delete{
	width: 16px !important;
	height: 16px !important;
	background: url('../images/delete_16x16.png');
}
#file-list .upload-panel{
	height: 100%;
	background: red;
}
#files-list a:hover{
  background: #ccc;
}

/*list*/
#files-list.list a, #files-list.list a:hover, #files-list.list a:link{
  color: inherit;
  height: 16px;
  padding: 5px;
  display: block;
  text-decoration: none;
	border-radius: 5px;
}
#files-list.list .name, #files-list.list .size, #files-list.list .atime, #files-list.list .mtime, #files-list.list .ctime, #files-list.list .delete{
	vertical-align: top;
  display: inline-block;
  width: 100px;
  overflow: hidden;
	white-space: nowrap;
}
#files-list.list .size, #files-list.list .atime, #files-list.list .mtime, #files-list.list .ctime{
  text-align: right;
}
#files-list.list .name{
  padding-left: 20px;
  background-repeat: no-repeat;
}
#files-list.list .folder .name{
  background-image: url('../images/folder_16x16.png');
}
#files-list.list .file .name{
  background-image: url('../images/file_16x16.png');
}
#files-list.list .folder .size{
  visibility: hidden;
}

/*grid*/
#files-list.grid a, #files-list.grid a:hover, #files-list.grid a:link{
  width: 100px;
  color: inherit;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 10px;
}
#files-list.grid .name{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}
#files-list.grid .size, #files-list.grid .atime, #files-list.grid .mtime, #files-list.grid .ctime{
  display: none;
}
#files-list.grid .name{
  text-align: center;
  padding-top: 100px;
  background-position: center top;
  background-repeat: no-repeat;
}
#files-list.grid .folder .name{
  background-image: url('../images/folder_96x96.png');
}
#files-list.grid .file .name{
  background-image: url('../images/file_96x96.png');
}
#files-list.grid .folder .size{
  visibility: hidden;
}
#files-list.grid a .delete{
	visibility: hidden;
}
#files-list.grid a:hover .delete{
	visibility: visible;
}


.progress{
	display: none;
	border: 1px solid #000;
	width: 200px;
	height: 20px;
}
.progress > span.bar{
	display: inline-block;
	background-color: #68f;
	height: inherit;
}

.progress > span.description{
	width: 100%;
	display: inline-block;
	text-align: center;
	float: left;
	position: absolute;
}

#address{
	border-radius: 8px;
	box-shadow:inset 1px 1px 2px #ccc;
	padding: 2px 5px;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
}

#panel{
	width: 100%;
	height: 100%;
}

#files-list{
	background: #fff;
	height: 100%;
	vertical-align: top;
}

#files-list .upload-panel.file_upload_highlight{
	background-color: #aabbff;
}